{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %} | Shopping Bag{% endblock %}

{% block content %}
<div class="container-fluid welcome mb-5">
    <div class="row w-100 d-flex justify-content-center align-items-center">
        <h1>Your Cart</h1>
        <hr>
        {% if bag_items %}
            <div class="col-lg-6">
                <h3>Products</h3>
                <div>
                    {% for item in bag_items %}
                        <div class="row">
                            <div class="col-3">
                                <img src="{{ item.product.image.url }}" alt="{{ product.alt_atr }}" style="width: 150px;">
                            </div>
                            <div class="col-9">
                                <h4>{{ item.product }}</h4>
                                <p>Start date</p>
                                <div class="row">
                                    <div class="col">
                                        <form class="form update-form" method="POST" action="{% url 'edit_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    </div>
                                    <div class="col">${{ item.product.price | calc_subtotal:item.quantity }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <h3>Order summary</h3>
                <div class="row">
                    <div class="col">Bag Total</div>
                    <div class="col">${{ total|floatformat:2 }}</div>
                </div>
                {% if promo_code %}
                    <div class="row">
                        <div class="col">Discount</div>
                        <div class="col">${{ total_discount }}</div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col">Discount</div>
                        <div class="col">$0.00</div>
                    </div>
                {% endif %}
                <hr>
                <div class="row">
                    <div class="col">Grand Total (excl. VAT)</div>
                    <div class="col">{{ grand_total|floatformat:2 }}</div>
                </div>
                <div class="row">
                    <div class="col">VAT</div>
                    <div class="col">${{ tax|floatformat:2 }}</div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'products' %}">Keep shopping</a>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'checkout' %}">Checkout</a>
                    </div>
                </div>
                <hr>
                <!-- Bootstrap 4 dropdown input field for promocode -->
                <div class="promo-code row mx-0 mb-3 border-bottom">
                    <div class="col-12">
                        <div class="row">
                            <button class="btn btn-link promo-open-btn" type="button" data-toggle="collapse" data-target="#collapsePromoInput" aria-expanded="true" aria-controls="collapsePromoInput">
                                <h4>Do you have a promo code?</h4>
                                <i class="fa-solid fa-chevron-down"></i>
                            </button>
                        </div>
                        <div class="promo-form collapse show">
                            <form action="" method="">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="hidden" value="Enter your code here">
                                        <div class="col-12">
                                            <button type="submit" aria-label>Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div>
                <h2>Your bag is empty</h4>
                <a href="{% url 'products' %}" class="btn-btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Back to products</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/delete/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}