{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %} | Shopping Bag{% endblock %}

{% block content %}
<div class="bag-container mt-5 mb-3">
    <!-- Page header -->
    <div class="row px-3 remove-margin">
        <h1>Your Cart</h1>
    </div>
    <hr>
    <!-- Displays products added to the bag -->
    <div class="row px-3 remove-margin">
        {% if bag_items %}
            <div class="col-12 col-lg-6 p-0 mb-5">
                <h3 class="mb-3">Products</h3>
                <div>
                    {% for item in bag_items %}
                        <div class="row mb-2">
                            <div class="col-12 col-sm-4">
                                <p>{{ item.product }}</p>
                            </div>
                            <div class="col-8 col-sm-4">
                                <!-- Form for updating qty in the bag -->
                                <form class="form update-form" method="POST" action="{% url 'edit_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- Buttons for update/remove products -->
                                <a class="update-link text-primary" aria-label="Update the number of items of the product"><small>Update</small></a>
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" aria-label="Delete the product from the shopping bag"><small>Remove</small></a>
                            </div>
                            <div class="col-4 col-sm-2 text-left">
                                <p>${{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Displays order summary based on bag -->
            <div class="col-lg-5 col-xl-4 mx-auto order-summary">
                <h3>Order summary</h3>
                <div class="row">
                    <div class="col">
                        <p>Bag Total</p>
                    </div>
                    <div class="col">
                        <p>${{ total|floatformat:2 }}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <p>VAT</p>
                    </div>
                    <div class="col">
                        <p>${{ tax|floatformat:2 }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Grand Total (excl. VAT)</p>
                    </div>
                    <div class="col">
                        <p>${{ grand_total|floatformat:2 }}</p>
                    </div>
                </div>
                <hr>
                <!-- Buttons for checkout or keep shopping -->
                <div class="row">
                    <div class="col-6">
                        <span class="btn btn-secondary rounded-0">
                            <a href="{% url 'products' %}" class="text-white" aria-label="Go back to shopping page">Keep shopping</a>
                        </span>
                    </div>
                    <div class="col-6">
                        <span class="btn btn-nercia-blue rounded-0">
                            <a href="{% url 'checkout' %}" class="text-white" aria-label="Go the the checkout page">Checkout</a>
                        </span>
                    </div>
                </div>
            </div>
        {% else %}
        <!-- If bag is empty, displays a message and button to send back to products page -->
            <div class="col-12 col-lg-6 mt-5 p-0">
                <h2 class="mb-3">Seems like your bag is empty...</h2>
                <span class="btn btn-nercia-blue rounded-0">
                    <a href="{% url 'products' %}" class="text-white" aria-label="Go back to products page">Back to products</a>
                </span>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}


<!-- Script that handles update or removal of products in the bag -->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script>
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/delete/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    });
</script>
{% endblock %}