{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row w-100 d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-6 col-xl-4 pl-3">
                <div class="center">
                    <h1>Welcome to our Webshop!</h2>
                    <p>
                        On this page you can read about the trainings you are interested in,
                        find out when the next start is planned and book yourself a seat on that specific training.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                <img src="{% static 'img/product_img/background_home.jpg' %}" alt="Trainer speaking in front of group" class="background-home w-100">
            </div>
        </div>
    </div>
{% endblock %}