{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid welcome mb-5">
    <div class="row w-100 d-flex justify-content-center align-items-center welcome">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-3 mb-md-0 welcome-text">
            <div class="center">
                <h1>Welcome to our Webshop!</h2>
                    <p>
                        On this page you can read about the trainings you are interested in,
                        find out when the next start is planned and book yourself a seat on that specific training. <br>
                        You can also create your own account to be able to save billing information and keep track of
                        previous bookings.
                    </p>
                    <a href="" class="shop-now-link">
                        <span>
                            <strong>
                                Search and shop your trainings <i class="fas fa-arrow-right"></i>
                            </strong>
                        </span>
                    </a>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <img src="{% static 'img/background_img/background_home.jpg' %}" alt="Trainer speaking in front of group"
                class="background-home">
        </div>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center align-items-center text-center circles-container">
    <div class="row row-circle text-center">

        <!-- Circle 1 -->
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center circle-padding">
            <a href="">
                <div class=" circle circle-1">
                    {% if user.is_authenticated %}
                    Go to profile
                    {% else %}
                    Create account
                    {% endif %}
                </div>
            </a>
        </div>

        <!-- Circle 2 -->
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center circle-padding">
            <a href="">
                <div class="circle">
                    Shop trainings
                </div>
            </a>
        </div>

        <!-- Circle 3 -->
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center circle-padding">
            <a href="">
                <div class="circle circle-3">
                    {% if user.is_authenticated %}
                    Order history
                    {% else %}
                    Head back to main page
                    {% endif %}
                </div>
            </a>
        </div>

    </div>
</div>
{% endblock %}