{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{{ form|crispy }}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>My Profile</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="text-muted">
                        Your Information
                    </p>
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ profile_form.first_name|as_crispy_field }}
                        {{ profile_form.last_name|as_crispy_field }}
                        {{ profile_form.phone_number|as_crispy_field }}
                        <button type="submit" name="profile-update-form">Update Profile</button>
                    </form>
                    <hr>
                    <p class="text-muted">
                        Company Information
                    </p>
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="company-update-form">
                        {% csrf_token %}
                        {{ company_form.name|as_crispy_field }}
                        {{ company_form.org_num|as_crispy_field }}
                        {{ company_form.street_address1|as_crispy_field }}
                        {{ company_form.street_address2|as_crispy_field }}
                        {{ company_form.postcode|as_crispy_field }}
                        {{ company_form.city|as_crispy_field }}
                        {{ company_form.country|as_crispy_field }}
                        {{ company_form.invoice_email|as_crispy_field }}
                        <button type="submit" name="company-update-form">Update Company</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}   