{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}Order Receipt{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Thank you!</h1>
                    <hr>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row">
                    <h3>Receipt</h3>
                </div>
                <div class="row">
                    <p>A order confirmation has been sent to your email</p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p><strong>Order Number:</strong></p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p><strong>Order Total:</strong></p>
                    </div>
                    <div class="col-6">
                        <p>$ {{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p><strong>Tax:</strong></p>
                    </div>
                    <div class="col-6">
                        <p>$ {{ order.tax }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p><strong>Grand Total:</strong></p>
                    </div>
                    <div class="col-6">
                        <p>$ {{ order.grand_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p><strong>Payment Option:</strong></p>
                    </div>
                    <div class="col-6">
                        <p>{{ order.payment_option|upper }}</p>
                    </div>
                </div>
                {% if order.payment_option == 'invoice' %}
                    <div class="row">
                        <p><strong>Invoice address</strong></p>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-0">{{ order.user_profile.company_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-0">{{ order.user_profile.org_num }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-0">{{ order.user_profile.street_address1 }}</p>
                        </div>
                    </div>
                    {% if user_profile.streetaddress2 %}
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-0">{{ order.user_profile.street_address2 }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-0">{{ order.user_profile.postcode }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-0">{{ order.user_profile.city }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>{{ order.user_profile.country }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-0">Invoice Email: {{ order.user_profile.invoice_email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="mb-0">Order Referens: {{ order.invoice_ref }}</p>
                        </div>
                    </div>
                {% endif %}
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p><strong>Products:</strong></p>
                        </div>
                    </div>
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-6">
                            <p>{{ item.product }}</p>
                        </div>
                        <div class="col-6">
                            <p>Quantity: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if from_profile %}
            <div class="row">
                <p>Click <a href="{% url 'profile' %}">here</a> to head back to your profile</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}