{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %} | Checkout{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container mt-5">
            <!-- Page header -->
            <div class="row">
                <div class="col">
                    <h1>Checkout</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <!-- Displays overview of items in the bag -->
                <div class="col-12 col-lg-6 order-lg-last">
                    <div class="col overview-col">
                        <h3>Overview</h3>
                        {% for item in bag_items %}
                            <div class="row">
                                <div class="col">
                                    <p>{{ item.product }}</p>
                                </div>
                                <div class="col">
                                    <p>Quantity: {{ item.quantity }}</p>
                                </div>
                                <div class="col"><p>Total: ${{ item.item_total|floatformat:2 }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <p><strong>Order total:</strong></p>
                            </div>
                            <div class="col">
                                <p>${{ total|floatformat:2 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <p><strong>VAT:</strong></p>
                            </div>
                            <div class="col">
                                <p>${{ tax|floatformat:2 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <p><strong>Grand total:</strong></p>
                            </div>
                            <div class="col">
                                <p>${{ grand_total|floatformat:2 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Payment form -->
                <div class="col-12 col-lg-6 order-lg-first mb-5">
                    <form class="mt-3" action="{% url 'checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <!-- Displays user profile information and billing address -->
                        <fieldset class="mb-5">
                            <h3>Purchaser</h3>
                            <div class="field-wrapper">
                                <input type="text" class="form-group text-muted readonly" value="{{ user_profile.first_name|default_if_none:'' }}" placeholder="First Name">
                            </div>
                            <div class="field-wrapper">
                                <input type="text" class="form-group text-muted readonly" value="{{ user_profile.last_name|default_if_none:'' }}" placeholder="Last Name">
                            </div>
                            <div class="field-wrapper">
                                <input type="text" class="form-group text-muted readonly" value="{{ user_profile.email|default_if_none:'' }}" placeholder="Email">
                            </div>
                            <div class="field-wrapper">
                                <input type="text" class="form-group text-muted readonly" value="{{ user_profile.phone_number|default_if_none:'' }}" placeholder="Phone Number">
                            </div>
                        </fieldset>
                        <fieldset class="mb-3">
                            <!-- Checkboxes for payment method -->
                            <h3>Payment</h3>
                            <div>
                                {% for option_value, option_label in order_form.payment_option.field.choices %}
                                    <div class="form-check form-check-inline ">
                                        <input class="form-check-input" type="checkbox" name="{{ order_form.payment_option.name }}" value="{{ option_value }}" id="id_{{ order_form.payment_option.name }}_{{ forloop.counter }}">
                                        <label class="form-check-label" for="id_{{ order_form.payment_option.name }}_{{ forloop.counter }}">{{ option_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
            
                            <div id="invoice-fields" class="mt-5" style="display: none;">
                                <h3>Billing Address</h3>
                                <div class="row">
                                    <p class="pl-3">You need to fill out all required information to be able to submit your order. <br>
                                        If you want to update you billing information, you can do so in your <a href="{% url 'profile' %}">profile</a>.</p>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="form-group text-muted readonly" value="{{ user_profile.company_name|default_if_none:'' }}" placeholder="Company*" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="form-group text-muted readonly" value="{{ user_profile.org_num|default_if_none:'' }}" placeholder="Org. Number*" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="form-group text-muted readonly" value="{{ user_profile.street_address1|default_if_none:'' }}" placeholder="Street Address 1*" readonly>
                                </div>
                                {% if user_profile.street_address2 %}
                                <div class="field-wrapper">
                                    <input type="text" class="form-group text-muted readonly" value="{{ user_profile.street_address2|default_if_none:'' }}" placeholder="Street Address 2" readonly>
                                </div>
                                {% endif %}
                                <div class="field-wrapper">
                                    <input type="text" class="form-group text-muted readonly" value="{{ user_profile.postcode|default_if_none:'' }}" placeholder="Postcode*" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="form-group text-muted readonly" value="{{ user_profile.city|default_if_none:'' }}" placeholder="City*" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="form-group text-muted readonly" value="{{ user_profile.country|default_if_none:'' }}" placeholder="Country*" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="form-group text-muted readonly" value="{{ user_profile.invoice_email|default_if_none:'' }}" placeholder="Invoice Email*" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="form-group" id="invoice-ref" name="{{ order_form.invoice_ref.name }}" value="{{ order_form.invoice_ref.value|default_if_none:'' }}" placeholder="Invoice Referens">
                                </div>
                            </div>
            
                            <div id="card-fields" style="display: none;" class="mt-3">
                                <!-- A Stripe card element will go here -->
                                <div class="mb-3" id="card-element"></div>
                                <!-- Used to display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            </div>
                        </fieldset>
                        <span class="btn btn-secondary rounded-0">
                            <a href="{% url 'view_bag' %}" class="text-white" aria-label="Go back to shopping bag"><i class="fas fa-chevron-left"></i>Edit bag</a>
                        </span>
                        <button id="complete-order-button" class="btn btn-nercia-blue rounded-0" disabled>Complete order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Script that handles checkboxes and enable/disable order confirmation button -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Function to check if UserProfileForm is filled out
            function isUserProfileFormFilled() {
                var paymentOption = document.querySelector('input[name="{{ order_form.payment_option.name }}"]:checked');
                var invoiceRef = document.getElementById('id_invoice_ref');

                if (!paymentOption) {
                    return false; // Disable the button by default
                }

                if (paymentOption.value === 'invoice') {
                    var requiredFields = [
                        "{{ user_profile.company_name|default_if_none:'' }}",
                        "{{ user_profile.org_num|default_if_none:'' }}",
                        "{{ user_profile.street_address1|default_if_none:'' }}",
                        "{{ user_profile.postcode|default_if_none:'' }}",
                        "{{ user_profile.city|default_if_none:'' }}",
                        "{{ user_profile.country|default_if_none:'' }}",
                        "{{ user_profile.invoice_email|default_if_none:'' }}",
                    ];

                    return requiredFields.every(field => field.trim() !== 'None' && field.trim() !== '');
                }
                // Enable the button for card payment or other options
                return true;
            }
            // Function to update button state based on UserProfileForm
            function updateButtonState() {
                var completeOrderButton = document.getElementById('complete-order-button');
                completeOrderButton.disabled = !isUserProfileFormFilled();
            }
            // Add event listeners for input events for each input field
            var fields = [
                'company_name',
                'org_num',
                'street_address1',
                'postcode',
                'city',
                'country',
                'invoice_email',
                'invoice_ref',
            ];
            fields.forEach(function (fieldName) {
                var field = document.getElementById('id_' + fieldName);
                if (field) {
                    field.addEventListener('input', updateButtonState);
                }
            });
            // Additional event listener for the payment option checkboxes
            document.querySelectorAll('input[name="{{ order_form.payment_option.name }}"]').forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    var invoiceFields = document.getElementById('invoice-fields');
                    var cardFields = document.getElementById('card-fields');
                    // Uncheck other checkboxes when one is checked
                    document.querySelectorAll('input[name="{{ order_form.payment_option.name }}"]').forEach(function (otherCheckbox) {
                        otherCheckbox.checked = (otherCheckbox === checkbox) && checkbox.checked;
                    });
                    if (checkbox.value === 'invoice') {
                        invoiceFields.style.display = checkbox.checked ? 'block' : 'none';
                        cardFields.style.display = 'none';
                    } else if (checkbox.value === 'card') {
                        invoiceFields.style.display = 'none';
                        cardFields.style.display = checkbox.checked ? 'block' : 'none';
                    }
                    updateButtonState(); // Call the function to update the button state
                });
            });
            // Initial call to set the button state when the page loads
            updateButtonState();
            document.getElementById('complete-order-button').addEventListener('click', function (event) {
                // Prevent the default form submission
                event.preventDefault();
                // Validate the form fields based on the payment option
                if (isUserProfileFormFilled()) {
                    // If the payment option is 'card', confirm the card payment first
                    var paymentOption = document.querySelector('input[name="{{ order_form.payment_option.name }}"]:checked');
                    if (paymentOption && paymentOption.value === 'card') {
                        // Proceed only if the card payment is successful
                        stripe.confirmCardPayment(clientSecret, {
                            payment_method: {
                                card: card,
                            }
                        }).then(function(result) {
                            if (result.error) {
                                var errorDiv = document.getElementById('card-errors');
                                var html = `
                                    <span class="icon" role="alert">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    <span>${result.error.message}</span>`;
                                $(errorDiv).html(html);
                                card.update({ 'disabled': false });
                                $('#complete-order-button').attr('disabled', false);
                            } else {
                                if (result.paymentIntent.status === 'succeeded') {
                                    document.getElementById('payment-form').submit();
                                }
                            }
                        });
                    } else {
                        // If the payment option is not 'card', proceed with submitting the main checkout form
                        document.getElementById('payment-form').submit();
                    }
                } else {
                    // If the form is not valid, display an error message
                    alert('Please fill out all required fields.');
                }
            });
        });
    </script>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<!-- Script that handles Stripe (card) payment -->
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
