{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %} | Checkout{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Checkout</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-last mb-5">
                    <div>

                    </div>
                    <form class="mt-3" action="{% url 'checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <fieldset>
                            <legend>Purchaser</legend>
                            <div class="field-wrapper">
                                <input type="text" class="readonly" value="{{ user_profile.first_name }}" placeholder= "First Name">
                            </div>
                            <div class="field-wrapper">
                                <input type="text" class="readonly" value="{{ user_profile.last_name }}" placeholder= "Last Name">
                            </div>
                            <div class="field-wrapper">
                                <input type="text" class="readonly" value="{{ user_profile.email }}" placeholder= "Email">
                            </div>
                            <div class="field-wrapper">
                                <input type="text" class="readonly" value="{{ user_profile.phone_number }}" placeholder= "Phone Number">
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Payment</legend>
                            <div>
                                {% for option_value, option_label in order_form.payment_option.field.choices %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="{{ order_form.payment_option.name }}" value="{{ option_value }}" id="id_{{ order_form.payment_option.name }}_{{ forloop.counter }}">
                                        <label class="form-check-label" for="id_{{ order_form.payment_option.name }}_{{ forloop.counter }}">{{ option_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
            
                            <div id="invoice-fields" style="display: none;">
                                <legend>Billing Address</legend>
                                <div class="row">
                                    <p>If you want to update you billing information, you can do that in your <a href="{% url 'profile' %}">profile</a>.</p>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="readonly" value="{{ user_profile.company_name }}" placeholder= "Company" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="readonly" value="{{ user_profile.org_num }}" placeholder= "Org. Number" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="readonly" value="{{ user_profile.street_address1 }}" placeholder= "Street Address 1" readonly>
                                </div>
                                {% if user_profile.street_address2 %}
                                <div class="field-wrapper">
                                    <input type="text" class="readonly" value="{{ user_profile.street_address2 }}" placeholder= "Street Address 2" readonly>
                                </div>
                                {% endif %}
                                <div class="field-wrapper">
                                    <input type="text" class="readonly" value="{{ user_profile.postcode }}" placeholder= "Postcode" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="readonly" value="{{ user_profile.city }}" placeholder= "City" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="readonly" value="{{ user_profile.country }}" placeholder= "Country" readonly>
                                </div>
                                <div class="field-wrapper">
                                    <input type="text" class="readonly" value="{{ user_profile.invoice_email }}" placeholder= "Invoice Email" readonly>
                                </div>
                                {{ order_form.invoice_ref }}
                            </div>
            
                            <div id="card-fields" style="display: none;">
                                <!-- A Stripe card element will go here -->
                                <div class="mb-3" id="card-element"></div>
                                <!-- Used to display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            </div>
                        </fieldset>
                        <button>
                            <a href="{% url 'view_bag' %}" aria-label="Go back to shopping bag"><i class="fas fa-chevron-left"></i>Edit bag</a>
                        </button>
                        <button id="complete-order-button" disabled>Complete order</button>
                    </form>
                </div>
            
                <div class="col-12 col-lg-6">
                    <div class="col">
                        <legend>Overview</legend>
                        {% for item in bag_items %}
                            <div class="row">
                                <div class="col">{{ item.product }}</div>
                                <div class="col">Quantity: {{ item.quantity }}</div>
                                <div class="col">Total: ${{ item.item_total|floatformat:2 }}</div>
                            </div>
                        {% endfor %}
                        <hr>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">Order total:</div>
                            <div class="col">${{ bag_total|floatformat:2 }}</div>
                        </div>
                        <div class="row">
                            {% if promo_code %}
                                <div class="col"></div>
                                <div class="col">Discount</div>
                                <div class="col">${{ total_discount|floatformat:2 }}</div>
                            {% else %}
                                <div class="col"></div>
                                <div class="col">Discount</div>
                                <div class="col">$0.00</div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">Grand total (excl. VAT):</div>
                            <div class="col">${{ grand_total|floatformat:2 }}</div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">VAT:</div>
                            <div class="col">${{ tax|floatformat:2 }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
<script>
    document.querySelectorAll('input[name="{{ order_form.payment_option.name }}"]').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            var invoiceFields = document.getElementById('invoice-fields');
            var cardFields = document.getElementById('card-fields');

            // Uncheck other checkboxes when one is checked
            document.querySelectorAll('input[name="{{ order_form.payment_option.name }}"]').forEach(function (otherCheckbox) {
                otherCheckbox.checked = (otherCheckbox === checkbox) && checkbox.checked;
            });

            if (checkbox.value === 'invoice') {
                invoiceFields.style.display = checkbox.checked ? 'block' : 'none';
                cardFields.style.display = 'none';

                // Clear or reset any invoice-related input values here
                document.getElementById('id_invoice_ref').value = '';
            } else if (checkbox.value === 'card') {
                invoiceFields.style.display = 'none';
                cardFields.style.display = checkbox.checked ? 'block' : 'none';
            }
        });
    });

    document.getElementById('complete-order-button').addEventListener('click', function (event) {
        // Proceed with submitting the main checkout form
        document.getElementById('payment-form').submit();
    });

    document.addEventListener('DOMContentLoaded', function () {
        // Function to check if UserProfileForm is filled out
        function isUserProfileFormFilled() {
            var requiredFields = [
                "{{ user_profile.company_name }}",
            ];

            return requiredFields.every(field => field.trim() !== '');
        }

        // Function to update button state based on UserProfileForm
        function updateButtonState() {
            var completeOrderButton = document.getElementById('complete-order-button');
            completeOrderButton.disabled = !isUserProfileFormFilled();
        }

        updateButtonState();

        var companyNameField = document.getElementById('id_first_name');

        if (companyNameField) {
            companyNameField.addEventListener('input', updateButtonState);
        }
    });
</script>
{% endblock %}
