/* ------------------------ Basics */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    color: #353535;
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
}

h4 {
    font-size: 14px;
    color: #fff;
}

td {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: 100;
}

th {
    font-family: 'Ubuntu', sans-serif;
}

p,
a {
    font-family: 'Ubuntu', sans-serif;
}

a:hover {
    text-decoration: none;
}

label {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 14.5px;
}

/* ------------------------ Navbar */

.logotype {
    max-height: 35px;
    height: auto;
}

.navbar {
    background-color: #fff;
    margin: 15px 5rem 15px 5rem;
    z-index: 1000;
    padding: 0;
}

.navbar-toggler-wrapper {
    z-index: 1001;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 100;
    margin: 15px;
    transition: color 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #007ec1;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
    color: #dadada;
}

.nav-link-color {
    font-size: 15px;
}

.dropdown-item {
    font-weight: 100;
    font-size: 15px;
}

.fa-solid {
    font-size: 17px;
}

i.fa-chevron-down {
    display: none;
}

.message-container {
    position: fixed;
    top: 75px;
    right: 156px;
    z-index: 999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-header,
.toast-body {
    font-family: 'Ubuntu', sans-serif;
}

.header-container {
    margin: 0 5rem 0 5rem;
}

/* ------------------------ Index page */

.center {
    margin-left: 40px;
}

.welcome {
    padding: 0 60px;
    margin-top: 30px;
}

.background-home {
    width: 100%;
    object-fit: cover;
}

.shop-now-link {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.shop-now-link:hover {
    color: #007ec1;
    text-decoration: none;
}

.circles-container {
    background-color: #f2f3f5;
    padding-right: 0;
}

.row-circle {
    margin: 0 50px;
}

.circle-1 {
    margin-top: 30px;
}

.circle-3 {
    margin-bottom: 30px;
}

.circle {
    font-weight: 100;
    width: 150px;
    height: 150px;
    background-color: rgb(157, 34, 53);
    border-radius: 50% 50% 50% 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
    transition: all 0.3s ease-in-out;
}

.circle a {
    text-decoration: none;
    color: inherit;
}

.circle:hover {
    transform: scale(1.05);
}

.row-circle a:hover {
    text-decoration: none;
}

.circle-padding {
    padding: 50px 0;
}

/* ------------------------ Products */

.container-cards,
.container-products {
    background-color: #f2f3f5;
}

.background-products {
    width: 100%;
    height: 462px;
    object-fit: cover;
    display: flex;
    align-items: center;
}

.products-header-p {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 0;
}

.card {
    height: 450px;
}

.card-title {
    font-size: 17px;
}

.card-text {
    font-weight: 100;
    font-size: 14.5px;
}

.border-top-4 {
    border-top: 4px solid #007ec1;
    padding: 15px 15px 25px 15px;
}

.category-header {
    font-size: 16px;
}

.category-text {
    font-weight: 100;
    font-size: 14.5px;
}

input.form-control {
    font-size: 'Ubuntu', sans-serif;
    font-size: 14.5px;
}

button.form-control {
    background-color: #0082d3;
    color: #fff;
    transition: background-color 0.3s;
}

button.form-control:hover {
    background-color: #0299e5;
    color: #fff;
}

.card-hover {
    text-decoration: none;
    color: #000;
}

.card-hover:hover {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.card-img-container {
    height: 200px;
    overflow: hidden;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-link {
    text-decoration: none;
    color: #000;
}

.search-nav {
    margin: 0;
}

/* ------------------------ Product Detail */

.container-content {
    margin: 0 5rem;
}

.container-product-header {
    padding: 0;
}

.page-header {
    font-size: 39px;
}


.product-description {
    font-size: 20px;
    font-weight: 100;
}

.product-content-header {
    font-size: 18px;
}

.day-title {
    font-size: 16px;
}

.purpose {
    font-size: 14.5px;
    font-weight: 100;
}

.topics {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14.5px;
    font-weight: 100;
}

.detail-col {
    margin-left: 30px;
    height: 450px;
    background-color: #f2f3f5;
    border-radius: 20px;
    padding: 20px;
}

.detail-col h5 {
    font-size: 15px;
}

.detail-header {
    font-size: 18px;
}

.container-product-detail {
    background-color: #fff;
}

.content-col ul {
    list-style: disc;
    list-style-position: inside;
    padding-left: 15px;
}

.add-item-button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: #fff;
    background: #0082d3;
    border: none;
    padding: 12px 25px;
    transition: background-color 0.3s;
}

.add-item-button:hover {
    background-color: #0299e5;
}

/* ------------------------ Product Management */

.product-management {
    margin: 15px 5rem;
}

/* ------------------------ Bag */

.bag-container {
    margin: 0 5rem;
}

.update-link,
.remove-item {
    cursor: pointer;
    transition: text-decoration;
}

.update-link:hover,
.remove-item:hover {
    text-decoration: none;
}

/* ------------------------ Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ------------------------ Contact Page */

.google-map {
    width: 100%;
}

.card-div {
    width: 300px;
    height: auto;
}

.contact-card {
    height: auto;
    width: 250px;
}

.custom-card-body {
    border: none;
}

.contact-info {
    text-align: center;
    padding: 15px;
}

.contact-detail {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.contact-detail i {
    margin-right: 5px;
}

/* ------------------------ Allauth */

.allauth-container {
    margin: 0 3rem;
    display: flex;
    justify-content: center;
}

.allauth-form-inner-content button,
.allauth-form-inner-intent input[type="submit"] {
    display: inline-block;
    font-weight: 100;
    color: #fff;
    background-color: #0082d3;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: .375rem .75rem;
    font-size: 14.5px;
    border-radius: 0;
    transition: background-color 0.3s;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-intent input[type="submit"]:hover {
    background-color: #0299e5;
}

/* ------------------------ Wrapper */

.content {
    flex: 1;
}

main.content {
    flex: 1;
    min-height: 80vh;
}

/* ------------------------ Footer */

.footer-container {
    min-height: 100%;
    position: relative;
    background-color: #141617;
    flex-shrink: 0;
    color: #fff;
    padding: 50px 30px;
}

.footer-content {
    margin-bottom: 60px;
}

.footer {
    width: 100%;
}

.footer-logotype {
    width: 150px;
}

.remove-decoration {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.logotype-footer {
    margin-bottom: 50px;
    padding: 0 15px;
}

.contact-header-footer {
    padding: 0 15px;
}

.contact-content-footer {
    padding: 0 15px;
}

.contact-header-footer,
.news-header-footer,
.social-header-footer,
.links-header-footer {
    margin-bottom: 28px;
}

.fa-brands {
    margin: 0 5.5px 14px 0;
    font-size: 25px;
    color: #fff;
}

.fa-angle-right {
    font-size: 14px;
}

.footer-container a,
.footer-container p {
    font-size: 14.5px;
    font-weight: 100;
}

.footer-container a {
    transition: color 0.3s;
}

.footer-container a:hover {
    color: #007ec1;
    text-decoration: none;
}

.footer-container h4 {
    font-weight: 400;
}

.text-padding {
    padding: 0 15px;
}

.post-date {
    font-size: 12px;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif;
}

/* ------------------------ Media querie wide screens */

@media (min-width: 2500px) {
    h1 {
        font-size: 3.5rem;
    }

    p,
    a {
        font-size: 1.5rem;
    }

    .circle {
        font-size: 1.5rem;
    }

}


/* ------------------------ Media querie xl screens */

@media (max-width: 1024px) {
    .header {
        margin-right: 30px;
    }

    .logotype {
        margin-left: 30px;
    }

}


/* ------------------------ Media querie large screens */

@media (max-width: 992px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.8rem;
        margin-top: 15px;
    }

    a {
        font-size: 1rem;
    }

    .product-detail-container {
        margin: 15px;
        padding: 15px;
    }

    .remove-margin {
        margin-right: 0;
        margin-left: 0;
    }

    .bag-container {
        margin: 15px;
        padding: 15px;
    }

    .container-content {
        margin: 15px;
        padding: 15px;
    }

    .base-navbar {
        margin: 15px 0;
    }

    .logotype {
        margin-left: 30px;
    }

    .navbar-toggler {
        margin-right: 30px;
    }

    .container-cards {
        margin-top: 0;
    }

    .container-products {
        margin-top: 0;
    }

    .welcome {
        padding: 0;
    }

    .nav-link-color {
        color: #333;
        margin-left: 30px;
        font-size: 1rem;
    }

    .navbar-collapse {
        width: 100%;
        margin-top: 15px;
        position: relative;
    }

    .navbar-light .navbar-nav .nav-link {
        margin: 0;
    }

    .nav-item .nav-link-color {
        transition: color 0.3s;
    }

    .nav-item:hover .nav-link-color {
        color: #007ec1;
    }

    .nav-item {
        margin-right: 0;
    }

    .dropdown-menu {
        padding: 0;
        margin: 0;
    }

    .dropdown-item {
        margin-left: 5px;
        font-size: 12.5px;
    }

    i.fa-chevron-down {
        margin-right: 20px;
        font-size: 15px;
        display: inline-block;
    }

    .welcome-text {
        padding: 0;
    }

    .social-header-footer {
        padding-left: 15px;
    }

    .fa-facebook-f {
        margin-left: 15px;
    }

    .footer-container {
        margin-top: 0;
    }

    .background-products {
        height: 352px;
    }

    .navbar-toggler {
        text-align: center;
    }

    .navbar-toggler div {
        display: inline-block;
        text-align: center;
    }

    .navbar-toggler i {
        float: right;
    }

    .navbar-collapse {
        text-align: center;
        margin-top: 10px;
    }

    .search-nav {
        display: flex;
        justify-content: center;
    }

    .search-button {
        width: 100%;
        padding: 0;
        margin: 0 0 16px 0;
        color: #fff;
        background-color: #0082d3;
        transition: background-color 0.3s;

    }

    .search-button:hover {
        background-color: #0299e5;
        color: #fff;
    }

    button.form-control:hover {
        background-color: #0299e5;
        color: #fff;
    }

    .button-text {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 100;
        font-size: 14px;
    }

    .card {
        height: 450px;
    }

    .category-header {
        display: none;
    }

    .message-container {
        right: 30px;
    }

    .header-container {
        margin: 0;
    }
    
}

/* ------------------------ Media querie medium screens */

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p,
    a {
        font-size: 0.8rem;
    }

    h4 {
        margin-bottom: 0;
    }

    .base-navbar {
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        margin: 0;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

    .nav-link-color {
        color: #333;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    .welcome {
        margin-top: 40px;
    }

    .background-home {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .circle {
        height: 175px;
        width: 175px;
        margin: 15px;
        font-size: 0.8rem;
    }

    .circles-container {
        padding-left: 0;
    }

    .center {
        margin-bottom: 30px;
    }

    .contact {
        margin-top: 0;
    }

    .news-header-footer {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .social.header-footer {
        padding-left: 0;
    }

    .fa-facebook-f {
        margin-left: 0;
    }

    .contact-header-footer,
    .contact-content-footer,
    .social-header-footer {
        padding-left: 0;
    }

    .contact-content-footer p {
        margin-top: 0;
    }

    .contact-header-footer,
    .news-header-footer,
    .social-header-footer,
    .links-header-footer {
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .footer-logotype {
        margin: 0 auto;
        display: block;
    }

    .card {
        height: auto;
    }

    .search-nav {
        padding: 15px 30px 0 30px;
    }

    .google-map {
        height: 200px;
    }

    .footer-container {
        padding-left: 15px;
    }

    .product-management {
        margin: 15px;
    }

}

/* ------------------------ Media querie small screens */

@media (max-width: 425px) {
    p {
        font-size: 0.8rem;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .logotype {
        margin-left: 15px;
    }

    .navbar-toggler {
        margin-right: 0;
    }

    .info-text-home {
        margin-left: 2rem;
    }

    .center {
        text-align: center;
        margin-left: 0;
    }

    .welcome {
        padding: 0 15px;
        margin-bottom: 0;
    }

    .circle {
        height: 150px;
        width: 150px;
        font-size: 1rem;
    }

    .background-home {
        width: 100%;
    }

    .circle-padding {
        padding: 25px 0;
    }

    .footer-container {
        margin-top: 0;
    }

}

@media (max-width: 335px) {
    .navbar-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}