{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Create Newsletter{% endblock %}

{% block content %}
<div class="container-fluid container-product-header mt-5">
    <div>
        <h1 class="page-header">
            Create newsletter
        </h1>
    </div>
</div>
<hr class="custom-hr-pr-detail">
<div class="col-12 col-md-6">
    <div class="row">
        <h4>
            Add a new newsletter
        </h4>
    </div>
    <div class="row">
        <form action="{% url 'create_newsletter' %}" method="POST" class="mb-5" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div>
                <a href="{% url 'newsletters' %}" class="btn btn-danger rounded-0 mr-2" aria-label="Go back to newsletter page">Cancel</a>
                <button class="btn btn-primary rounded-0">Send</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}