{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="This website is an e-commerce website for a business to have their online presence, and the ability for immediate shopping. This online store has trainings in leadership, working environment, IT, marketing and sales, maintenance and electronics and more." />
    <meta name="keywords" content="nercia, leadership training, IT courses, marketing and sales workshops, maintenance skills, working environment programs, electronics training, shopping, online shopping, online shop, shopping online, trainings available, content, duration, price, perks, grow, personality, group leader, team leader, coorinator, personal leadership, leadership responsibility, leadership ladder, coaching leadership, skills, development, company trainings, knowledge, electrical installer, Microsoft excel, MS project, employees, organisation, quality, environmental, ISO, sales, key account management, strategic sales" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/5497956e76.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap 4 JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Google Map -->
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ8Us1QdTADWpIcDjMzGi622mYprc3FtI&loading=async"></script>
    {% endblock %}

    
    {% block extra_js %}
    {% endblock %}

    <title>Nercia Webshop{% block extra_title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar base-navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logotype/logotype_nercia.png' %}" alt="Nercia logotype" class="logotype">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse header navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item list-inline-item">
                    <a class="nav-link" href="{% url 'products' %}">
                        <div class="text-left">
                            <p class="my-0 nav-link-color">Shop</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item list-inline-item">
                    <a class="nav-link" href="{% url 'contact' %}">
                        <div class="text-left">
                            <p class="my-0 nav-link-color">Contact</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="d-flex justify-content-between">
                            <div class="text-left">
                                <p class="my-0 nav-link-color">Account</p>
                            </div>
                            <i class="fa-solid fa-chevron-down text-right"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="{% url 'product_management' %}" class="dropdown-item">Product Management</a>
                                <a href="{% url 'order_management' %}" class="dropdown-item">Order Management</a>
                                <a href="{% url 'newsletters' %}" class="dropdown-item">Newsletters</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item list-inline-item">
                    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="{% url 'view_bag' %}">
                        <div>
                            <div class="text-left">
                                <p class="my-0 nav-link-color">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div class="container-fluid footer-container d-flex justify-content-center align-items-center">
                <div class="row footer-content">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <section class="logotype-footer footer-column">
                            <div class="row text-left text-padding">
                                <img src="{% static 'img/logotype/nercia_logotype_white.png' %}" alt="Nercia logotype" class="footer-logotype">
                            </div>
                        </section>
                        <section class="contact-header-footer">
                            <div class="row text-left text-uppercase text-padding">
                                <h4>Contact</h4>
                            </div>
                        </section>
                        <section class="contact-content-footer">
                            <div class="row text-left text-padding">
                                <p>Phone: <a href="tel:004619206700" class="remove-decoration">+4619-20 67 00</a></p>
                            </div>
                            <div class="row text-left text-padding">
                                <p>E-mail: <a href="mailto:info@nercia.se" class="remove-decoration">info@nercia.se</a></p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <section class="news-header-footer">
                            <div class="row text-left text-uppercase text-padding">
                                <h4>Latest News</h4>
                            </div>
                        </section>
                        <section class="news-content-footer"></section>
                            <div class="row text-left text-padding">
                                <ul>
                                    <li>
                                        <i class="fa-solid fa-angle-right"></i><a href="https://nercia.se/artiklar/nercia-zero-harm-dagar-pa-zinkgruvan/" class="remove-decoration">
                                            Nercia is contributing to a safe security culture at Zinkgruvan Mining (text in swedish)
                                        </a>
                                        <br>
                                        <span class="post-date">January 12, 2024</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-angle-right"></i><a href="https://nercia.se/artiklar/forelasning-16-januari/" class="remove-decoration">
                                            Lecture and breakfast with Natthawhat from Snacka Snyggt (text in swedish)
                                        </a>
                                        <br>
                                        <span class="post-date">Januari 3, 2024</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-angle-right"></i><a href="https://nercia.se/artiklar/traversutbildning-nercias-konsulter/" class="remove-decoration">
                                            Full focus on the crane training for Nercia's leased consultants (text in swedish)
                                        </a>
                                        <br>
                                        <span class="post-date">November 27, 2023</span>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <section class="social-header-footer">
                            <div class="row text-left text-uppercase text-padding">
                                <h4>Follow Us</h4>
                            </div>
                        </section>
                        <section class="social-content-footer"></section>
                            <div class="row text-left text-padding">
                                <a href="https://www.facebook.com/Nercia.se/" target="_blank"><i class="fa-brands fa-facebook-f p-1" class="remove-decoration"></i></a>
                                <a href="https://www.tiktok.com/@nercia1992?lang=sv-SE" target="_blank"><i class="fa-brands fa-tiktok p-1" class="remove-decoration"></i></a>
                                <a href="https://www.instagram.com/nercia1992/" target="_blank"><i class="fa-brands fa-instagram p-1" class="remove-decoration"></i></a>
                                <a href="https://www.linkedin.com/company/4988997/" target="_blank"><i class="fa-brands fa-linkedin-in p-1" class="remove-decoration"></i></a>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <section class="links-header-footer">
                            <div class="row text-left text-uppercase text-padding">
                                <h4>Links</h4>
                            </div>
                        </section>
                        <section class="links-content-footer">
                            <div class="row text-left text-padding mb-2">
                                <a href="https://auth.nercia.se/auth/realms/nercia/protocol/openid-connect/auth?client_id=security-admin-console&redirect_uri=https%3A%2F%2Fauth.nercia.se%2Fauth%2Fadmin%2Fnercia%2Fconsole%2F&state=f6dc9211-daf1-4b2a-89ac-d10921b0caef&response_mode=fragment&response_type=code&scope=openid&nonce=e9f75215-45c7-462d-87db-96fbefdf281c&code_challenge=CCS17yEgsRSrplmwcgMeQbwRDGqriGwWYhdc62iWfwc&code_challenge_method=S256" target="_blank" class="remove-decoration">Login to training platform</a>
                            </div>
                            <div class="row text-left mb-2 text-padding">
                                <a href="https://nercia.se/" target="_blank" class="remove-decoration">Nercia home page (text in swedish)</a>
                            </div>
                            <div class="row text-left mb-2 text-padding">
                                <a href="https://nercia.se/bemanning-och-rekrytering/lediga-tjanster/" target="_blank" class="remove-decoration">Job Openings (text in swedish)</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block postloadjs %} 
    <script type="text/javascript">
        $(document).ready(function() {
            $('.toast').toast('show');
            
            // Hide the toast after 7 seconds
            setTimeout(function() {
                $('.toast').toast('hide');
            }, 7000);
        });
    </script>
    {% endblock %}
</body>

</html>