{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Add Product{% endblock %}

{% block content %}
<div class="product-management mb-5">
    <div class="container-fluid container-product-header mt-5">
        <!-- Page header -->
        <div>
            <h1 class="page-header">
                Product Management
            </h1>
        </div>
    </div>
    <hr class="custom-hr-pr-detail">
    <div class="col-12 col-md-6">
        <div class="row">
            <h4>
                Add a new product
            </h4>
        </div>
        <div class="row">
            <!-- Form for adding a product -->
            <form action="{% url 'add_product' %}" method="POST" class="mb-5" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <span class="btn btn-secondary rounded-0">
                        <a href="{% url 'products' %}" aria-label="Go back to products page">Cancel</a>
                    </span>
                        <button class="btn btn-primary rounded-0">Add product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- Javascript for image button -->
{% block postloadjs %}
{{ block.super }}
<script>
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}
