{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Product Management{% endblock %}

{% block content %}
<div class="container-fluid container-product-header mt-5">
    <!-- Page header -->
    <div>
        <h1 class="ml-5 pl-3">
            Product Management
        </h1>
    </div>
</div>
<hr class="custom-hr-pr-detail">
<div class="container product-management mt-5">
    <div class="row">
        <!-- Displays all products -->
        <div class="col-12 col-md-6 mb-5">
            <div class="row">
                <h2>Products</h2>
            </div>
            <div class="row mb-5">
                <span class="btn btn-primary rounded-0">
                    <a href="{% url 'add_product' %}" class="text-decoration-none text-white" aria-label="Go to add products page">Add product</a>
                </span>
            </div>
            <div class="row">
                <ul>
                    {% for product in products %}
                        <div class="mb-3">
                            <li><strong>{{ product.name }}</strong></li>
                            <a href="{% url 'edit_product' product_id=product.id %}" aria-label="Go to edit product page">Edit description</a> |
                            <a href="{% url 'add_product_content' product_id=product.id %}" aria-label="Go to add product contant page">Edit content</a> | 
                            <a href="#" data-toggle="modal" data-target="#deleteProductModal{{ product.id }}" class="text-danger" aria-label="Triggers the delete product confirmation">Delete</a>
                        <hr>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- Displays all categories -->
        <div class="col-12 col-md-6">
            <div class="row">
                <h2>Categories</h2>
            </div>
            <div class="row mb-5">
                <span class="btn btn-primary rounded-0">
                    <a href="{% url 'add_category' %}" class="text-decoration-none text-white" aria-label="Go to add category page">Add category</a>
                </span>
            </div>
            <div class="row">
                <ul>
                    {% for category in categories %}
                        <div class="mb-3">
                            <li><strong>{{ category.friendly_name }}</strong></li>
                            <a href="{% url 'edit_category' category_id=category.id %}" aria-label="Go to edit category page">Edit category</a> |
                            <a href="#" data-toggle="modal" data-target="#deleteCategoryModal{{ category.id }}" class="text-danger" aria-label="Opens the confirmation for deleting category">Delete</a>
                        <hr>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Delete Product -->
{% for product in products %}
    <div class="modal fade" id="deleteProductModal{{ product.id }}" tabindex="-1" role="dialog"
        aria-labelledby="deleteProductModalLabel{{ product.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProductModalLabel{{ product.id }}">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete {{ product.name }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_product' product_id=product.id %}" class="btn btn-danger" aria-label="Delete product">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Modal for Delete category -->
{% for category in categories %}
    <div class="modal fade" id="deleteCategoryModal{{ category.id }}" tabindex="-1" role="dialog"
        aria-labelledby="deleteCategoryModalLabel{{ category.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCategoryModalLabel{{ category.id }}">Delete Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete {{ category.friendly_name }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_category' category_id=category.id %}" class="btn btn-danger" aria-label="Delete category">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}