{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid container-product-header mt-5">
    <div>
        <h1 class="page-header">
            Product Management
        </h1>
    </div>
</div>
<hr class="custom-hr-pr-detail">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <span class="btn btn-primary rounded-0">
                    <a href="{% url 'add_product' %}">Add product</a>
                </span>
            </div>
            <hr>
            <div class="row">
                <ul>
                    {% for product in products %}
                        <div class="row">
                            <li>{{ product.name }}</li>
                        </div>
                        <div class="row mb-3 mt-0">
                            <a href="{% url 'edit_product' product_id=product.id %}">Edit description</a> |
                            <a href="{% url 'add_product_content' product_id=product.id %}">Edit content</a> | 
                            <a href="#" data-toggle="modal" data-target="#deleteProductModal{{ product.id }}" class="text-danger">Delete</a>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <span class="btn btn-primary rounded-0">
                    <a href="{% url 'add_category' %}">Add category</a>
                </span>
            </div>
            <hr>
            <div class="row">
                <ul>
                    {% for category in categories %}
                        <li>{{ category.friendly_name }} -
                            <a href="{% url 'edit_category' category_id=category.id %}">Edit category</a> |
                            <a href="#" data-toggle="modal" data-target="#deleteCategoryModal{{ category.id }}" class="text-danger">Delete</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Delete Product -->
{% for product in products %}
    <div class="modal fade" id="deleteProductModal{{ product.id }}" tabindex="-1" role="dialog"
        aria-labelledby="deleteProductModalLabel{{ product.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProductModalLabel{{ product.id }}">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete {{ product.name }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_product' product_id=product.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!-- Modal for Delete category -->
{% for category in categories %}
    <div class="modal fade" id="deleteCategoryModal{{ category.id }}" tabindex="-1" role="dialog"
        aria-labelledby="deleteCategoryModalLabel{{ category.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCategoryModalLabel{{ category.id }}">Delete Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete {{ category.friendly_name }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete_category' category_id=category.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}