{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid container-product-header mt-5">
    <div>
        <h1 class="page-header">
            {{ product.name }}
        </h1>
    </div>
</div>
<hr class="custom-hr-pr-detail">
<div class="container-fluid container-fluid-detail">
    <div class="row-100 d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-12 content-col mb-5">
            <div class="mb-5">
                <p class="product-description">{{ product.description }}</p>
            </div>
            <div>
                <h2 class="product-content-header">Program Content</h2>
                {% for product_content in product_contents %}
                    <h3 class="day-title">{{ product_content.day }} {{ product_content.title }}</h3>
                    <p class="purpose">{{ product_content.purpose }}</p>
                    {% if product_content.topics %}
                        <ul>
                            {% for topic in product_content.topics %}
                                <li class="topics">{{ topic }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4 col-12 detail-col mb-5">
            <h3 class="detail-header">Training Information</h3>
            <div class="row">
                <div class="col-6">Duration</div>
                <div class="col-6">{{ product.duration }}</div>
            </div>
            <h4>Upcoming starts</h4>
            <div class="row">
                <div class="col-6">City</div>
                <div class="col-6">First day</div>
            </div>
            <h4>Schedule</h4>
            <!-- If more than one start, iterate over dates per start -->
            <div class="row">
                <div class="col-12">Training dates</div>
            </div>
            <h4>Perks</h4>
            <p>{{ product.perks }}</p>
            <h4>Price</h4>
            <p>{{ product.price }}</p>
            <button class="add-item-button">Add to bag</button>
        </div>
    </div>
</div>

{% endblock %}